html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Khula", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1e2d40;
  color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 40px;
  position: relative;
  align-items: center;
}

main {
  padding-left: 20px;
  flex-grow: 1;
}

h1 {
  font-family: "Noticia Text", serif;
  font-weight: 600;
  font-style: normal;

  padding-left: 0;
  text-align: center;
}

h2 {
  font-family: "Ruda", serif;
  font-weight: 400;
  font-style: normal;
}

footer,
header {
  background-color: #bbc0c6;
  color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #bbc0c6;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 20px 40px;
  color: black;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

hr {
  margin: 40px 0px;
}

.movie-covers img {
  height: 572px;
  width: 367px;
  max-width: 367px;
  padding: 10px 20px 20px 0px;
}

.heading-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.back-button {
  position: absolute;
  left: 0;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: white;
  font-size: 25px;
}

.back-button:hover {
  cursor: pointer;
}

/*Header*/
.current {
  text-decoration: underline;
}

.logo {
  height: auto;
  width: 140px;
  padding: 2px;
}

.cart {
  height: auto;
  width: 25px;
  margin: 0px;
}
/*End header*/

/*Footer*/
.squareeyes {
  display: flex;
  align-items: center;
}

.squareeyes img,
.squareeyes a {
  padding: 20px 50px;
  color: black;
  text-decoration: none;
}

.squareeyes img {
  width: auto;
  height: 22px;
}

.social img:hover,
.squareeyes a:hover {
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
}

.social img {
  padding: 20px 50px;
}

/*End footer*/

/*Home page*/
.top-section {
  background-color: #000000;
  background-image: url("../images/avatar-hero.png");
  height: 400px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-left: -20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-section-content {
  margin-left: 100px;
}

.top-section h1 {
  text-align: left;
  font-size: 50px;
  margin-top: 0;
}

.top-section p {
  font-size: 20px;
  width: 480px;
}

.top-section a {
  text-decoration: none;
  background-color: #ada76e;
  padding: 15px 60px;
  color: black;
  border-radius: 15px;
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
}

.sale-section {
  background-image: url("../images/sale-poster.png");
  height: 400px;
  width: 99%;
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
}

.sale-section-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 400px;
  width: 99.7%;
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
}

.sale-section-content {
  text-align: right;
  padding: 20px 50px 0 0;
}

.sale-section-content h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.sale-section-content p {
  font-size: 25px;
  margin-bottom: 30px;
}

.sale-section-content a {
  text-decoration: none;
  background-color: #ada76e;
  padding: 10px 50px;
  color: black;
  border-radius: 15px;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
}
/*End home page*/

/*Category labels on home page*/
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #ada76e;
}

.content {
  display: none;
}

#action:checked ~ .content.action {
  display: block;
}

#comedy:checked ~ .content.comedy {
  display: block;
}

#horror:checked ~ .content.horror {
  display: block;
}

label:hover {
  cursor: pointer;
}

label {
  display: inline-block;
  font-size: 18px;
  padding: 40px 20px 10px 0px;
}
/*End category labels on home page*/

/*Video page*/
.movie-cover-checkout {
  display: flex;
  align-items: flex-start;
}

.movie-cover-checkout img {
  width: 100%;
  max-width: 300px;
  margin: 20px 0px;
}

.movie-cover-checkout p {
  margin-top: 0px;
}

.movie-cover-checkout-textcontent {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 50px;
}

.movie-cover-checkout-textcontent div {
  display: flex;
  width: 100%;
  gap: 10px;
}

.movie-cover-checkout-textcontent a {
  text-decoration: none;
  flex: 1;
  text-align: center;
  background-color: #ada76e;
  padding: 10px 50px;
  color: black;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 20px;
}

.movie-cover-checkout-textcontent p:first-child {
  margin-top: 50px;
}

.movie-cover-checkout-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  width: 130px;
  height: 30px;
  text-decoration: none;
  color: wheat;
  border: solid;
}
/*End video page*/

/*Checkout page*/
.checkout {
  background-color: #405173;
  border-radius: 15px;
  margin: 0px 20px 40px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.checkout-payment {
  background-color: #bbc0c6;
  width: 500px;
  border-radius: 15px;
  padding: 20px;
  color: black;
}

.checkout-payment-details {
  display: flex;
  flex-direction: column;
}

.checkout h3 {
  color: #bf7665;
}

.checkout img {
  width: 100%;
  max-width: 200px;
}

.movie-info {
  display: flex;
}

.movie-details p,
.movie-details h4 {
  margin: 20px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.price img {
  width: auto;
  height: 22px;
  padding-left: 250px;
  margin: 0;
}

.price img:hover {
  cursor: pointer;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.5px;
  border-radius: 15px;
  font-size: 20px;
  padding: 0px 20px;
}

.discount a {
  text-decoration: none;
  color: #a49898;
}

.discount a:hover {
  cursor: pointer;
}

.order-summary {
  border: solid 0.5px;
  border-radius: 15px;
  margin-top: 20px;
  padding: 0px 20px;
  text-align: left;
}

.order-summary p {
  display: flex;
  justify-content: space-between;
}

.order-summary-header {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 2px;
}

.order-summary-line {
  width: 100%;
  margin: 5px 0;
}

.bold {
  font-weight: bold;
}

.order-summary span {
  text-align: right;
  display: inline-block;
  width: 100%;
}
/*End checkout page*/

/*Contact us-page*/

.contact-intro {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
}

.contact-intro h1 {
  text-align: left;
  margin-top: 80px;
}

.contact-us {
  background-color: #405173;
  border-radius: 15px;
  margin: 100px 20px 100px 400px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-us h3 {
  color: #bf7665;
}

.contact-us-details-section {
  background-color: #bbc0c6;
  width: 500px;
  border-radius: 15px;
  padding: 20px;
  color: black;
}

.contact-us-details {
  display: flex;
  flex-direction: column;
}
/*End contact us-page*/

/*General media queries*/
@media (min-width: 900px) {
  nav {
    display: inline-block;
    position: static;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
    flex-wrap: nowrap;
  }
}
/*End general media queries*/

/*Media queries desktop*/
@media (min-width: 600px) {
}
/*End media queries desktop*/
